<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Sample MongoDB with Spring</display-name>

	<servlet>
		<servlet-name>MongoDBSpring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MongoDBSpring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/exception.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>99</error-code>
		<location>/error.jsp</location>
	</error-page>


	<security-constraint>
		<display-name>Prevent Direct Access To .jsp Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/view/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>


</web-app>
